* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;

}

/* Style background-color */
.background {
    background-image: url("../Background/doctorstrange.jpg");
    margin-top: 5%;
    /* Full height */
    height: 100vh;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

.icon {
    display: none;
}

.brand {
    color: white;
    font-size: 24px;
    padding: 25px 20px;
    display: none;
}

.bar {
    background-color: #2B4865;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    top: 0px;
    position: fixed;
    overflow: hidden;
    min-width: min-content;
    min-height: min-content;


}

.tab {
    color: aliceblue;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 20px;
    font-style: bold;


}

.tab:hover {
    background-color: #C8B6E2;
    color: black;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*styling button of Logout */

.Lo {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    color: white;
    padding: 25px 20px;
    border-radius: 100px;
    min-width: min-content;
    min-height: min-content;
    background-color: rgba(22, 26, 48, .5);

}



/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*the select of the button back_ground color */
.Lo:hover {
    color: rgb(7, 15, 43);
    background-color: rgb(83, 92, 145);
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.Lo:active {
    color: rgb(77, 76, 125);
    background-color: rgba(22, 26, 48, 1);
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-width: min-content;
    min-height: min-content;
    background-color: rgba(0, 0, 0, 0.7);


}

.header {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    color: white;
    font-weight: bold;
    width: 50%;
    height: 30%;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    height: fit-content;
    min-width: min-content;
    min-height: min-content;
}




/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media all and (max-width: 600px) {

    .bar {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        position: relative;
        display: none;
    }


    .brand {
        display: block;
        position: relative;
        left: -95px;
    }

    .icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .icon i {
        color: white;
        font-size: 30px;
        padding: 25px 20px;

    }

    .icon:hover {
        background-color: rgba(22, 26, 48, .5);
        border-radius: 100%;
    }


    .header {
        width: 80%;
        padding: 10px;
        font-size: 15px;
    }

}

@media all and (min-width: 601px) and (max-width: 768px) {
    .tab {
        font-size: 15px;
        padding: 25px 10px;
    }

    .Lo {

        font-size: 15px;

    }

    .header {
        width: 80%;
        padding: 10px;
        font-size: 15px;
    }


}

@media all and (min-width: 769px) and (max-width: 922px) {
    .tab {
        font-size: 15px;
    }

    .Lo {

        font-size: 15px;

    }

    .header {
        width: 80%;
        padding: 10px;
        font-size: 15px;
    }


}