* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;

}

/* Style background-color */
body {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}

.icon {
    display: none;
}

.brand {
    color: white;
    font-size: 24px;
    padding: 25px 20px;
    display: none;
}

.bar {
    background-color: #2B4865;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    top: 0px;
    position: fixed;
    overflow: hidden;
    min-width: min-content;
    min-height: min-content;


}

.tab {
    color: aliceblue;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 20px;
    font-style: bold;


}

.tab:hover {
    background-color: #C8B6E2;
    color: black;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*styling button of Logout */

.Lo {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    color: white;
    padding: 25px 20px;
    border-radius: 100px;
    min-width: min-content;
    min-height: min-content;
    background-color: rgba(22, 26, 48, .5);

}



/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*the select of the button back_ground color */
.Lo:hover {
    color: rgb(7, 15, 43);
    background-color: rgb(83, 92, 145);
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.Lo:active {
    color: rgb(77, 76, 125);
    background-color: rgba(22, 26, 48, 1);
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.admin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}

.header {

    background-color: rgba(7, 15, 43, 0.5);
    font-size: x-large;
    border-radius: 20px;
    color: white;
    text-align: center;
    min-width: fit-content;
    min-height: fit-content;
}


.content {
    margin-top: 30px;
    border: rgb(53, 53, 123);
    border-width: 10px;
    border-style: outset;
    text-align: left;
    padding: 30px;
    min-width: fit-content;
    min-height: fit-content;

}

#color {
    margin-left: 10%;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bt {

    margin-left: 80%;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(7, 15, 43, 0.5);
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    min-width: fit-content;
    min-height: fit-content;
}

.bt:hover {
    background-color: rgba(83, 92, 145, 0.5);
    color: white;
}

.bt:active {
    background-color: rgba(22, 26, 48, 1);
    color: white;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.UserData {
    margin-top: 30px;
    border: rgb(53, 53, 123);
    border-width: 10px;
    border-style: outset;
    text-align: left;
    padding: 30px;
    min-width: fit-content;
    min-height: fit-content;
}




table,
th,
td {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;
    border: black solid;
    background-color: lightblue;
    color: black;
    text-align: center;
    min-width: fit-content;
    min-height: fit-content;
}

#lastColor {
    color: lightblue;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media all and (max-width: 600px) {

    .bar {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        position: relative;
        display: none;
    }


    .brand {
        display: block;
        position: relative;
        left: -95px;
    }

    .icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .icon i {
        color: white;
        font-size: 30px;
        padding: 25px 20px;

    }

    .icon:hover {
        background-color: rgba(22, 26, 48, .5);
        border-radius: 100%;
    }



}

@media all and (min-width: 601px) and (max-width: 768px) {
    .tab {
        font-size: 15px;
        padding: 25px 10px;
    }

    .Lo {

        font-size: 15px;

    }


}

@media all and (min-width: 769px) and (max-width: 922px) {
    .tab {
        font-size: 15px;
    }

    .Lo {

        font-size: 15px;

    }


}