/*stylying bar section*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
    font-size: 20px;

}

.icon {
    display: none;
}


.brand {
    color: white;
    font-size: 24px;
    padding: 25px 20px;
    display: none;
}

.bar {
    background-color: #2B4865;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    top: 0px;
    position: fixed;
    overflow: hidden;
    min-width: min-content;
    min-height: min-content;


}

.tab {
    color: aliceblue;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 20px;
    font-style: bold;


}

.tab:hover {
    background-color: #C8B6E2;
    color: black;
}


/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*styling button of Logout */

.Lo {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    color: white;
    padding: 25px 20px;
    border-radius: 100px;
    min-width: min-content;
    min-height: min-content;
    background-color: rgba(22, 26, 48, .5);

}



/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*the select of the button back_ground color */
.Lo:hover {
    color: rgb(7, 15, 43);
    background-color: rgb(83, 92, 145);
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.Lo:active {
    color: rgb(77, 76, 125);
    background-color: rgba(22, 26, 48, 1);
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*styling background color  */

body {

    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}



/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*styling box of rate*/

.items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    width: 100%;

}

.item {
    padding: 10px;
    background-color: rgba(238, 237, 235, 0.8);
    width: 14%;
    border-radius: 20px;
    margin: 20px;
    min-width: min-content;
    min-height: min-content;
}

.photo {
    height: 270px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 1s;
}

.photo:active {
    box-shadow: 0 0 10px 5px #9c81b1;
    transform: scale(1.5, 1.5);
}


.Rating {
    background: #f1f1f1;
    text-align: left;
    font-size: large;
    font-family: cursive;
    width: 100%;
    font-weight: bold;
}

.rate {
    color: #8644a0;
}

.rate p {
    color: #440f58;
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--styling trailer boxes--*/

.trailer {
    font-size: 20px;
    text-shadow: 1px 1px 1px #9c81b1;
    background-color: white;
    text-align: center;
    color: #440f58;
    width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}

.trailer a {
    text-decoration: none;
    color: #440f58;
}

.trailer:hover {
    background-color: #b891f2;
}

.trailer a:active {
    color: rgba(238, 237, 235, 0.8);
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*when user click on the box it will shadow*/
.trailer:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}







/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media all and (max-width: 600px) {

    .bar {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        display: none;
        position: relative;
    }


    .brand {
        display: block;
        position: relative;
        left: -95px;
    }

    .icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .icon i {
        color: white;
        font-size: 30px;
        padding: 25px 20px;

    }

    .icon:hover {
        background-color: rgba(22, 26, 48, .5);
        border-radius: 100%;
    }

    .item {
        width: 65%;
    }
}

@media all and (min-width: 601px) and (max-width: 768px) {
    .tab {
        font-size: 15px;
        padding: 25px 10px;
    }

    .Lo {

        font-size: 15px;

    }

    .item {
        width: 25%;
    }
}

@media all and (min-width: 769px) and (max-width: 922px) {
    .tab {
        font-size: 15px;
    }

    .Lo {

        font-size: 15px;

    }

    .item {
        width: 25%;
    }
}