/*--styling bar --*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;

}

.icon {
    display: none;
}


.brand {
    color: white;
    font-size: 24px;
    padding: 25px 20px;
    display: none;
}

.bar {
    background-color: #2B4865;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    top: 0px;
    position: fixed;
    overflow: hidden;
    min-width: min-content;
    min-height: min-content;


}

.tab {
    color: aliceblue;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 20px;
    font-style: bold;


}

.tab:hover {
    background-color: #C8B6E2;
    color: black;
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*styling button of Logout */

.Lo {
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    color: white;
    padding: 25px 20px;
    border-radius: 100px;
    min-width: min-content;
    min-height: min-content;
    background-color: rgba(22, 26, 48, .5);

}



/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*the select of the button back_ground color */
.Lo:hover {
    color: rgb(7, 15, 43);
    background-color: rgb(83, 92, 145);
}



/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


.Lo:active {
    color: rgb(77, 76, 125);
    background-color: rgba(22, 26, 48, 1);
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*styling background color  */


.background {
    margin-top: 5%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: change 15s infinite ease-in-out;
    min-width: min-content;
    min-height: min-content;

}




/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*styling of welcome box with page name*/



.box {

    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    width: 40%;
    height: 30%;
    padding: 20px;
    margin-top: 15%;
    margin-left: 5%;
    text-align: center;
    border-radius: 50px;
    height: fit-content;
    min-width: min-content;
    min-height: min-content;

}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@keyframes change {
    0% {
        background-image: url(../Background/wp4027868-venom-4k-wallpapers.jpg);
    }

    20% {
        background-image: url(../Background/doctorstrange.jpg);
    }

    40% {
        background-image: url(../Background/wallpapersden.com_cool-thor-love-and-thunder.jpg);
    }

    60% {
        background-image: url(../Background/wp2751429-wallpapers-movies-hd.jpg);
    }

    80% {
        background-image: url(../Background/37988.jpg);
    }

    100% {
        background-image: url(../Background/wp9049883-films-4k-wallpapers.jpg);
    }
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media all and (max-width: 600px) {

    .bar {
        flex-direction: column;
        align-items: center;
    }

    .tab {
        display: none;
        position: relative;
    }


    .brand {
        display: block;
        position: relative;
        left: -95px;
    }

    .icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .icon i {
        color: white;
        font-size: 30px;
        padding: 25px 20px;

    }

    .icon:hover {
        background-color: rgba(22, 26, 48, .5);
        border-radius: 100%;
    }

    .box {
        width: 80%;
        margin-top: 60%;
        margin-left: 10%;
    }


}

@media all and (min-width: 601px) and (max-width: 768px) {
    .tab {
        font-size: 15px;
        padding: 25px 10px;
    }

    .Lo {

        font-size: 15px;

    }

    .box {
        width: 80%;
        margin-top: 40%;
        margin-left: 10%;
    }

}

@media all and (min-width: 769px) and (max-width: 922px) {
    .tab {
        font-size: 15px;
    }

    .Lo {

        font-size: 15px;

    }

    .box {
        width: 80%;
        margin-top: 40%;
        margin-left: 10%;
    }


}